body
{
 background-color: #3c3c3c;
 color: white;
}

textarea::placeholder
{
 color: lightgrey;
}

textarea
{
 background-color: #3c3c3c;
 color: white;
 outline: none;
 resize: none;
}

input[type=button] 
{
 background-color: #3c3c3c;
 color: white;
 border: 1px solid lightgrey;
 width: 150px;
}

input[type=number], input[type=text]
{
 background-color: #3c3c3c;
 color: white;
 width: 252px;
 border: 1px solid lightgrey;
}

label 
{
 float: left;
 width: 110px;
 text-align: left;
}