body {
text-align:center;
  background-repeat: no-repeat;
   background-size: 380px 100px;
 animation: mymove 160s infinite;
}
@keyframes mymove {
  from {background-color: blue;}
  to {background-color: black}
}
input[type=button] {
	background-color: white;
	width: 150px;
   color: red;
  border-radius: 10px;
}

@keyframes go-left-right {
   from { left: 0px; }
   to { left: calc(100% - 50px); }
 }

 div[id=progress] {
   animation: go-left-right 3s infinite alternate;

   position: relative;
   border: 2px solid green;
   width: 50px;
   height: 20px;
   background: lime;
 }
input:hover[type=button] {
	background-color: #99cbff;
	width: 150px;
   color: red;
  border-radius: 10px;
}

input[type=number], input[type=text]  {
	width: 252px;
  border-radius: 10px;
}

textarea[id=message],textarea[id=messages],textarea[id=logs]{
    border-radius: 10px;
}
